/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f2b500;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

#home {
    background-color: #35495e;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home .intro {
    max-width: 600px;
}

#home .intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#about {
    background-color: #fff;
}

#about .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#about .about-content img {
    border-radius: 50%;
    max-width: 150px;
    margin-right: 20px;
}

#projects {
    background-color: #f4f4f9;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin: 20px 0;
}

.project-card button {
    background-color: #f2b500;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-card button:hover {
    background-color: #e5a900;
}

#contact {
    background-color: #fff;
}

#contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact form input,
#contact form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact form button {
    padding: 15px;
    background-color: #35495e;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#contact form button:hover {
    background-color: #5c6e77;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
